*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;
  --focus-color: #ea005e;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: #c04848;
  background: -webkit-linear-gradient(to right, #480048, #c04848);
  background: linear-gradient(to right, #480048, #c04848);
}

:focus {
  outline: 2px solid var(--focus-color);
  outline-offset: 3px;
}

button:focus {
  outline: 2px solid var(--focus-color);
  outline-offset: 5px;
}

button:active {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* -----------------
    Main Quiz body
----------------- */

/* Common styles for all buttons used */
.quiz-button {
  font-size: 1.2rem;
  font-family: var(--font-family-roboto);
  font-weight: bolder;
  position: absolute;
}

/* Main quiz content */
.quiz_container {
  width: 25%;
  aspect-ratio: 1 / 1;
  border: 2px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12.5%;
  margin-left: -12.5%;
  background: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  border-radius: 15px;
  box-shadow: rgba(194, 190, 190, 0.3) 0px 7px 29px 0px;
}

.quiz_content {
  display: none;
  flex-direction: column;
  align-items: left;
  padding: 2rem;
}

/* Start quiz button */
.quiz_start_button {
  color: #fff;
  width: 60%;
  background-color: #0a1c83;
  padding: 1rem;
  top: 50%;
  left: 50%;
  margin-top: -12%;
  margin-left: -30%;
  border: 1.5px solid black;
}

.quiz_start_button:hover {
  background-color: #051367;
}

/* Questions */
.question {
  font-family: var(--font-family-roboto);
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

/* Options */
.quiz_content ul {
  list-style-type: none;
  font-family: var(--font-family-montserrat);
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

.quiz_content ul li {
  padding-bottom: 1rem;
}

.quiz_content ul li label {
  cursor: pointer;
}

.quiz_content ul li input {
  margin-right: 0.7rem;
}

/* Next question button */
.next_question_button {
  width: 100%;
  color: white;
  background-color: #069c04;
  padding: 1rem;
  border: none;
  bottom: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
}

.next_question_button:hover {
  background-color: #037701;
}

/* Display score */
.score {
  display: none;
  position: absolute;
  width: 70%;
  padding: 1rem;
  color: black;
  background: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  border: 2px solid black;
  top: 40%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left: -35%;
  text-align: center;
}

.score_text {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

/* Start quiz again button */
.start_again {
  width: 20%;
  color: white;
  background-color: #ea005e;
  padding: 0.8rem;
  top: 55%;
  left: 50%;
  margin-left: -10%;
  border: 2px solid black;
  display: none;
}

/* ------------------
    Media queries 
-------------------- */
@media only screen and (max-width: 900px) {
  .quiz_container {
    width: 80%;
    left: 10%;
    top: 20%;
    margin: 0;
  }

  .quiz_start_button {
    width: 70%;
    top: 35%;
    margin: 0;
    left: 15%;
  }

  .quiz_content {
    padding: 1rem;
  }

  .quiz_content ul li {
    padding-bottom: 0.35rem;
  }

  .question {
    font-size: 1rem;
  }

  .next_question_button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .score {
    top: 30%;
  }

  .score_text {
    font-size: 0.7rem;
  }

  .start_again {
    width: 70%;
    left: 25%;
  }
}
